In [54]:
from sklearn.ensemble import GradientBoostingRegressor
#import streamlit as st
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import OneHotEncoder


model = pickle.load(open( "fit_model.p", "rb" ))
#models = pickle.load(open( "model.p", "rb" ))
#pipeline = pickle.load(open( "pipeline.p", "rb" ))
def transform(data):    
        enc = OneHotEncoder(handle_unknown='ignore')
       # enc_df = pd.DataFrame(enc.fit_transform(data[['sex','children','smoker','region']]).toarray())
        data = pd.get_dummies(data, columns=['sex','children','smoker','region'])
        return data

def predict(model, input_df):
    transform_data = transform(input_df)
    predictions_df = model.predict(transform_data)
   # predictions = predictions_df['Label'][0]
    return predictions_df

In [55]:
data = pd.read_csv('insurance.csv')

In [56]:
d = data[:100]

In [57]:
d=d.drop(columns=['charges'],axis=1)

In [58]:
d

    age     sex     bmi  children smoker     region
0    19  female  27.900         0    yes  southwest
1    18    male  33.770         1     no  southeast
2    28    male  33.000         3     no  southeast
3    33    male  22.705         0     no  northwest
4    32    male  28.880         0     no  northwest
5    31  female  25.740         0     no  southeast
6    46  female  33.440         1     no  southeast
7    37  female  27.740         3     no  northwest
8    37    male  29.830         2     no  northeast
9    60  female  25.840         0     no  northwest
10   25    male  26.220         0     no  northeast
11   62  female  26.290         0    yes  southeast
12   23    male  34.400         0     no  southwest
13   56  female  39.820         0     no  southeast
14   27    male  42.130         0    yes  southeast
15   19    male  24.600         1     no  southwest
16   52  female  30.780         1     no  northeast
17   23    male  23.845         0     no  northeast
18   56    male  40.300         0     no  southwest
19   30    male  35.300         0    yes  southwest
20   60  female  36.005         0     no  northeast
21   30  female  32.400         1     no  southwest
22   18    male  34.100         0     no  southeast
23   34  female  31.920         1    yes  northeast
24   37    male  28.025         2     no  northwest
25   59  female  27.720         3     no  southeast
26   63  female  23.085         0     no  northeast
27   55  female  32.775         2     no  northwest
28   23    male  17.385         1     no  northwest
29   31    male  36.300         2    yes  southwest
30   22    male  35.600         0    yes  southwest
31   18  female  26.315         0     no  northeast
32   19  female  28.600         5     no  southwest
33   63    male  28.310         0     no  northwest
34   28    male  36.400         1    yes  southwest
35   19    male  20.425         0     no  northwest
36   62  female  32.965         3     no  northwest
37   26    male  20.800         0     no  southwest
38   35    male  36.670         1    yes  northeast
39   60    male  39.900         0    yes  southwest
40   24  female  26.600         0     no  northeast
41   31  female  36.630         2     no  southeast
42   41    male  21.780         1     no  southeast
43   37  female  30.800         2     no  southeast
44   38    male  37.050         1     no  northeast
45   55    male  37.300         0     no  southwest
46   18  female  38.665         2     no  northeast
47   28  female  34.770         0     no  northwest
48   60  female  24.530         0     no  southeast
49   36    male  35.200         1    yes  southeast
50   18  female  35.625         0     no  northeast
51   21  female  33.630         2     no  northwest
52   48    male  28.000         1    yes  southwest
53   36    male  34.430         0    yes  southeast
54   40  female  28.690         3     no  northwest
55   58    male  36.955         2    yes  northwest
56   58  female  31.825         2     no  northeast
57   18    male  31.680         2    yes  southeast
58   53  female  22.880         1    yes  southeast
59   34  female  37.335         2     no  northwest
60   43    male  27.360         3     no  northeast
61   25    male  33.660         4     no  southeast
62   64    male  24.700         1     no  northwest
63   28  female  25.935         1     no  northwest
64   20  female  22.420         0    yes  northwest
65   19  female  28.900         0     no  southwest
66   61  female  39.100         2     no  southwest
67   40    male  26.315         1     no  northwest
68   40  female  36.190         0     no  southeast
69   28    male  23.980         3    yes  southeast
70   27  female  24.750         0    yes  southeast
71   31    male  28.500         5     no  northeast
72   53  female  28.100         3     no  southwest
73   58    male  32.010         1     no  southeast
74   44    male  27.400         2     no  southwest
75   57    male  34.010         0     no  northwest
76   29  female  29.590         1     no  southeast
77   21    male  35.530         0     no  southeast
78   22  female  39.805         0     no  northeast
79   41  female  32.965         0     no  northwest
80   31    male  26.885         1     no  northeast
81   45  female  38.285         0     no  northeast
82   22    male  37.620         1    yes  southeast
83   48  female  41.230         4     no  northwest
84   37  female  34.800         2    yes  southwest
85   45    male  22.895         2    yes  northwest
86   57  female  31.160         0    yes  northwest
87   56  female  27.200         0     no  southwest
88   46  female  27.740         0     no  northwest
89   55  female  26.980         0     no  northwest
90   21  female  39.490         0     no  southeast
91   53  female  24.795         1     no  northwest
92   59    male  29.830         3    yes  northeast
93   35    male  34.770         2     no  northwest
94   64  female  31.300         2    yes  southwest
95   28  female  37.620         1     no  southeast
96   54  female  30.800         3     no  southwest
97   55    male  38.280         0     no  southeast
98   56    male  19.950         0    yes  northeast
99   38    male  19.300         0    yes  southwest

In [62]:
predict(model,d)

array([16520.31268371,  3036.90109381,  5138.96392737, 14163.87443101,
        4029.44191982,  3977.15635167,  7843.59314605,  6805.29945061,
       11577.83091403, 19017.09819039,  2236.87349882, 28775.15274763,
        1915.65169805, 11706.37895716, 38540.42582137,  2499.20459692,
       12162.79708547,  1853.21232545, 10336.77020644, 36511.6052462 ,
       14376.65888095,  3909.5064156 ,  1699.60761723, 38445.92095032,
        6516.26810369, 14531.78299623, 13689.85822119, 12533.70892302,
        3241.43088564, 40789.17987763, 36138.12847284,  2652.09139943,
        3519.2592516 , 14260.01251561, 47231.08530093,  1252.54072552,
       16647.85140914,  1755.07359951, 42982.23733482, 48241.63497111,
        5602.72864916,  4201.71329891,  6431.43794552,  6178.79971016,
        7754.27275672, 13986.18378309,  4515.33154386,  3408.07732338,
       14419.4511928 , 37901.91886731,  2717.49972651,  5857.38317907,
       24177.44703061, 37294.67971481,  7276.46160813, 47111.5963787 ,
       15540.26132796, 33888.36469079, 23761.12529853,  7287.88588249,
        9405.67195981,  8555.12527095, 23166.09925831,  7382.97443346,
       15077.45616547,  1875.1392169 , 13944.69624614,  7696.10462599,
        8043.562374  , 17440.26478685, 15510.85735496,  5345.66305787,
       12743.7419791 , 13382.34054192,  9056.91350577, 11355.65708927,
        5537.61691098,  2587.4642426 ,  3795.50886128,  6088.90197163,
        5133.84231041,  8890.21799326, 37566.95560122, 13269.11180704,
       39127.58110076, 23564.13904265, 43510.3336887 , 12124.35612961,
       11133.01375184, 14666.98921296,  2058.24104668, 14384.11317543,
       30054.56520739,  6234.85671396, 46815.26908148,  4775.84861226,
       14138.43892039, 13154.89089582, 23501.14932673, 16744.54435055])

In [63]:
model.predict(transform(d))

array([16520.31268371,  3036.90109381,  5138.96392737, 14163.87443101,
        4029.44191982,  3977.15635167,  7843.59314605,  6805.29945061,
       11577.83091403, 19017.09819039,  2236.87349882, 28775.15274763,
        1915.65169805, 11706.37895716, 38540.42582137,  2499.20459692,
       12162.79708547,  1853.21232545, 10336.77020644, 36511.6052462 ,
       14376.65888095,  3909.5064156 ,  1699.60761723, 38445.92095032,
        6516.26810369, 14531.78299623, 13689.85822119, 12533.70892302,
        3241.43088564, 40789.17987763, 36138.12847284,  2652.09139943,
        3519.2592516 , 14260.01251561, 47231.08530093,  1252.54072552,
       16647.85140914,  1755.07359951, 42982.23733482, 48241.63497111,
        5602.72864916,  4201.71329891,  6431.43794552,  6178.79971016,
        7754.27275672, 13986.18378309,  4515.33154386,  3408.07732338,
       14419.4511928 , 37901.91886731,  2717.49972651,  5857.38317907,
       24177.44703061, 37294.67971481,  7276.46160813, 47111.5963787 ,
       15540.26132796, 33888.36469079, 23761.12529853,  7287.88588249,
        9405.67195981,  8555.12527095, 23166.09925831,  7382.97443346,
       15077.45616547,  1875.1392169 , 13944.69624614,  7696.10462599,
        8043.562374  , 17440.26478685, 15510.85735496,  5345.66305787,
       12743.7419791 , 13382.34054192,  9056.91350577, 11355.65708927,
        5537.61691098,  2587.4642426 ,  3795.50886128,  6088.90197163,
        5133.84231041,  8890.21799326, 37566.95560122, 13269.11180704,
       39127.58110076, 23564.13904265, 43510.3336887 , 12124.35612961,
       11133.01375184, 14666.98921296,  2058.24104668, 14384.11317543,
       30054.56520739,  6234.85671396, 46815.26908148,  4775.84861226,
       14138.43892039, 13154.89089582, 23501.14932673, 16744.54435055])

In [65]:
transform(d).shape

(100, 16)

In [66]:
te = pd.read_csv('te.csv')

In [68]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [72]:
pd.read_csv('insurance copy 2.csv')

     age;sex;bmi;children;smoker
0           19;female;27.9;0;yes
1             18;male;33.77;1;no
2                28;male;33;3;no
3            33;male;22.705;0;no
4             32;male;28.88;0;no
...                          ...
1333          50;male;30.97;3;no
1334        18;female;31.92;0;no
1335        18;female;36.85;0;no
1336         21;female;25.8;0;no
1337       61;female;29.07;0;yes

[1338 rows x 1 columns]

In [73]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]